/* Show dates on small screens */
section.main .container .content .post-item .meta {
    display: inline-block;
    align-self: baseline;
}

/* Don't show list styles on small screens */
section.main .container .content .post-item {
    display: flex;
    margin-bottom: 0.5rem;
    list-style: none;
}

section.main .container .content .post-item .meta {
    margin-right: 0.7rem;
    text-align: right;
}

section.main .container .content .post-item a {
    flex: auto;
}
